#menu .search-menu {
  padding-top: 5em;
}

#menu > * {
  padding: 1em 3em 1em 3em;
}

#menu .links > li {
  margin: 1em 0 0 0;
  padding: 1em 0 0 0;
}

#menu .links h3 {
  margin: 1em 0 0 0;
}

article.post h2 {
    color: #eb4823;
}

article.post h3 {
    color: #db4823
}

a {
    cursor: pointer;
}

@media screen and (max-width: 736px) {
  body {
    padding-top: 2.75em;
  }
}

body, input, select, textarea, b, strong {
  color: #384847;
  letter-spacing: 2px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1.5em 0;
}

#header h2, #header h1 {
  margin: 0 0 1.5em 0;
}

.post > header .title {
  padding: 1em 1em 1em 3em;
}

body.is-menu-visible #main {
    opacity: .15;
}

#social-share .share-btn {
  padding: 0;
  margin: 0.1em;
  width: 2em;
}

#social-share {
  top: 0;
  text-align: right;
  margin-top: 1.5em;
}

.post > header .meta {
  padding: 0;
  margin: 0;
  border: 0;
}

.post > header .meta-wrapper {
  padding: 2.5em 3em 1em 0;
  border-left: solid 1px rgba(160, 160, 160, 0.3);
}
